<div class="container">

    <%if @error_message%>
        <h4><p class="text-danger"><%=@error_message%></p></h4>
    <%end%>

    <%=form_tag("/item/#{@item.id}/update",{multipart:true}) do%>
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6 col-md-3 thumbnail">
                        <%=  link_to "/item_images/#{@item.image}", 'data-lightbox': @item.image do %>
                            <%= image_tag "/item_images/#{@item.image}" if @item.image? %>
                        <% end %>
                    </div>
                </div>
                <%=label_tag "form-image","Image"%>
                <input name ="image" type="file" id="form-image">
            </div>
            <div class="form-group">
                <%=label_tag "form-tag","Tag"%><i class="fas fa-asterisk asterisk"></i>
                <%=select_tag 'item[category_item_id]', options_from_collection_for_select(@categories, :id, :name, :selected => @item.category_item_id), class:"form-control"%>
            </div>
            <div class="form-group">
                <%=label_tag "form-color","Color"%><i class="fas fa-asterisk asterisk"></i>
                <%=select_tag 'item[category_color_id]', options_from_collection_for_select(@categoryColors, :id, :name, :selected => @item.category_color_id),class:"form-control"%>
            </div>
            <div class="form-group">
                <%=label_tag "form-season","Season"%><i class="fas fa-asterisk asterisk"></i>
                <%=select_tag 'item[category_season_id]', options_from_collection_for_select(@categorySeasons, :id, :name, :selected => @item.category_season_id),class:"form-control"%>
            </div>
            <div class="form-group">
                <%=label_tag "form-price","Price"%>
                <%=text_field :item, :price, class:"form-control", id:"form-price", value:@item.price%>
            </div>
            <div class="form-group">
                <%=label_tag "form-date","Date"%>
                <%=date_field :item, :date ,id:"form-date",class:'form-control'%>
            </div>
            <%=label_tag "form-memo","Memo"%>
            <textarea name="memo" class="form-control" rows="3">
                <%=@item.memo%>
            </textarea>
            <div class="button">
                <%=submit_tag "Edit" ,class:"btn btn-primary"%>
            <div>
        </form>
        <div class="trash">
            <%=link_to("/item/#{@item.id}/destroy", {method:"post"}) do%>
                <i class="glyphicon glyphicon-trash"></i>
            <% end %>
        <div>
    <%end%>
</div>
